/* PROJETO WEB - ESTRUTURA DA MASTER PAGE */


/* CABEÇALHO  */
.cabecalho {
    height: 81px;
    width: 100%;
    background-color: #D8A4F2;
    color: white;
}

.logomarca {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 80px;
    width: 80px;                                                                                      
}

.barra-titulo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 40px; /* Ajuste o tamanho conforme a necessidade */
    letter-spacing: 4px; /* Dá um espaço maior entre as letras, se quiser */
    color: #ffffff; /* Ou a cor que você preferir */
}

.barra-menu {
    position: absolute;
    left: 0;
    top: 47px;
    right: 0;
    height: 40px;
    text-align: center;
    padding-bottom: 5px;
}

    .barra-menu a {
        color: white;
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        text-decoration: none;
    }

        .barra-menu a:hover {
            color: white;
            border-bottom: 3px solid white;
        }


.conteudo {
    min-height: 800px;
}

.titulo {
    font-size: 60px;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px
}

.botao-1 {
    display: inline-block;
    padding: 18px 35%;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}

.rodape {
    background-color: #D8A4F2;
    color: #FFFFFF;
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
}

.rodape-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.rodape-col {
    width: 30%;
    margin-bottom: 20px;
    text-align: left;
}

    .rodape-col h4 {
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    .rodape-col ul {
        list-style: none;
        padding: 0;
    }

        .rodape-col ul li {
            margin-bottom: 10px;
        }

            .rodape-col ul li a {
                color: #FFFFFF;
                text-decoration: none;
                font-size: 14px;
            }

                .rodape-col ul li a:hover {
                    text-decoration: underline;
                }

.rodape-bottom {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    padding-top: 20px;
}



